#div1{
    float: left;
    margin: 10px;
    padding: 20px;
    border: 0px solid black;
}

#div2 {
    float: left;
    width: 80%;

    margin: 10px;
    padding: 20px;
    border: 0px solid black;
    overflow-y: scroll;

}

.super-navbar-head{

    padding: 30px;
    text-align: center;
    background: #1abc9c;
    color: white;

}


.super-navbar-footer{

    padding: 30px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 16px;
}

table.table-1 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid #ddd;


}

table.table-1 tr {
    border: 1px solid black;

}

table.table-1 td {
    border: 1px solid black;
    padding: 6px;
}

table.table-1 th {
    border: 1px solid #111;
    padding: 6px;
    font-weight: 700;
    text-decoration: none;
}

table.table-2 {
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid #ddd;

}

table.table-2 thead {
    text-align: right;
    padding: 5px;
    border: 2px solid ;
    background-color: lightsteelblue ;
}


table.table-2 tbody tr:nth-child(even) {
    text-align: left;
    padding: 16px;
    border: 1px solid black;
    background-color: #e8e8e8;
}

table.table-2 th {
    border: 1px solid black;
    text-align: left;
    padding: 16px;
    text-decoration: none;
}
table.table-2 td {
    border: 1px solid black;
    text-align: left;
    padding: 16px;
}


#myInput {

    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */

    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

